<style>
    :root {
        /* Primary theme color */
        --primary-color: #340068;
        /* Primary theme text color */
        --primary-text-color: #fffcf9;
        --primary-text-color-over: #b1ede8;
        /* Primary theme link color */
        --primary-link-color: #ff6978;
        /* Secondary color: the background body color */
        --secondary-color: #fffcf9;
        --secondary-text-color: #340068;
        --tertiary-color: #b1ede8;
        --quaternary-color: #15616d;
        --subtle-color: #1D8A9A;
        /* Highlight text color of table of content */
        --toc-background-color: #340068;
        --code-color: #15616d;
        --code-background-color: #fffcf9;
        --header-color: #ff6978;

        --shadow-color: #ddd;

        /* Font used for headers (h1 & h2) */
        --header-font-family: "Catamaran", sans-serif;
        /* Font used for text */
        --text-font-family: "Catamaran", sans-serif;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --primary-color: #340068;
            --primary-text-color: #fffcf9;
            --primary-text-color-over: #b1ede8;
            --primary-link-color: #ff6978;
            --secondary-color: #1d8a9a;
            --secondary-text-color: #fffcf9;
            --tertiary-color: #b1ede8;
            --quaternary-color: #15616d;
            --toc-highlight-text-color: #b1ede8;
            --toc-background-color: #340068;
            --code-color: #fffcf9;
            --code-background-color: #15616d;

            --shadow-color: #202020;
            --header-font-family: "Catamaran", sans-serif;
            --text-font-family: "Catamaran", sans-serif;
        }
    }
</style>
